<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CRA" connectionString="Server=.;Database=CRA291;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="CarRentalApp.Properties.Settings.CRA291ConnectionString"
      connectionString="Data Source=&quot;142.59.80.79, 5291&quot;;Initial Catalog=CRA291;Persist Security Info=True;User ID=SA"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>